<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">

            <%- include('includes/messages') %>
            
            <% if(!user) {%>
                <h1 class="text-center">Bem vindo/a!</h1>
                <p class = "text-center lead">Faça login ou registre-se para ter acesso a agenda</p> 
                <%} else {%>
                    <% if(contatos.length > 0) { %>
                        <h1 class="text-center">Agenda de <%= user.name %></h1>
                        <p class="text-center lead">Seus contatos estão abaixo</p>
                        <div class="responsive-table">
                            <table class="table my-3">
                                <% contatos.forEach(contato => { %> 
                                    <tr>
                                        <td><%= contato.nome %></td>
                                        <td><%= contato.sobrenome %></td>
                                        <td><%= contato.telefone %></td>
                                        <td><%= contato.email %></td>
                                        <td><a href="/contato/index/<%= contato._id %>">Editar</a></td>
                                        <td><a class="text-danger" href="/contato/delete/<%= contato._id %>">Excluir</a></td>
                                    </tr>
                                <% }); %>
                            </table>
                        </div>
                        <% } else { %>
                            <p class="text-center lead">Não existem contatos na sua agenda</p>
                        <% } %>
                <%} %>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
<%- include('includes/footer') %>
